In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import gc
import pandas as pd
import lightgbm as lgb
import numpy as np
from sklearn.metrics import roc_auc_score, precision_recall_curve, roc_curve, average_precision_score, auc
from sklearn.model_selection import KFold
from lightgbm import LGBMClassifier
import matplotlib.pyplot as plt
import seaborn as sns
import gc
from sklearn.model_selection import StratifiedKFold
import category_encoders
from catboost import Pool
from catboost.utils import get_roc_curve
from sklearn.metrics import auc

In [2]:
train_data = pd.read_csv('./train_dataset/train_public.csv')
test_public = pd.read_csv('./test_public.csv')
train_internet = pd.read_csv('./train_dataset/train_internet.csv', encoding='gb2312')

In [3]:
train_internet

,loan_id,user_id,total_loan,year_of_loan,interest,monthly_payment,class,sub_class,work_type,employer_type,...,earlies_credit_mon,title,policy_code,f0,f1,f2,f3,f4,f5,is_default
0,119262,0,12000,5,11.53,264.10,B,B5,职员,普通企业,...,1984/3/1,0.0,1,1.0,0.0,8.0,17.0,8.0,1.0,1
1,369815,1,8000,3,13.98,273.35,C,C3,其他,普通企业,...,1992/1/1,94.0,1,NaN,NaN,NaN,NaN,NaN,NaN,0
2,787833,2,20000,5,17.99,507.76,D,D2,工人,上市企业,...,1996/10/1,0.0,1,6.0,0.0,10.0,8.0,3.0,0.0,0
3,671675,3,10700,3,10.16,346.07,B,B1,职员,普通企业,...,2000/7/1,41646.0,1,3.0,0.0,4.0,11.0,6.0,0.0,0
4,245160,4,8000,3,8.24,251.58,B,B1,其他,政府机构,...,2000/3/1,4.0,1,3.0,0.0,8.0,6.0,4.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749995,624287,749995,12000,3,11.47,395.55,B,B5,职员,上市企业,...,1995/6/1,0.0,1,6.0,0.0,8.0,22.0,12.0,5.0,0
749996,427602,749996,12000,3,6.03,365.23,A,A1,工人,政府机构,...,2001/9/1,4.0,1,2.0,0.0,7.0,4.0,4.0,0.0,0
749997,206828,749997,10000,3,15.41,348.67,D,D1,职员,政府机构,...,2008/10/1,8.0,1,6.0,0.0,10.0,11.0,3.0,0.0,0
749998,293912,749998,7200,3,9.44,230.44,B,B1,其他,政府机构,...,2006/4/1,0.0,1,7.0,0.0,9.0,11.0,6.0,0.0,0
749999,381388,749999,16000,5,19.22,416.99,D,D4,职员,幼教与中小学校,...,2001/2/1,6.0,1,7.0,0.0,9.0,13.0,6.0,0.0,0

In [4]:
X_train = train_data.copy()
X_test = test_public.copy()
X_train = X_train.drop(['isDefault'], axis = 1)
X_train.shape
X_train['is_train'] = 1
X_test['is_train'] = 0

X_traintest = X_traintest = pd.concat([X_train, X_test], axis = 0)
X_traintest.shape
X_internet = train_internet.copy()

### 数据探索

In [5]:
unimport_fea = ['employer_type', 'industry', 'region', 'policy_code', 'pub_dero_bankrup', 'f1', 'del_in_18month', 'initial_list_status']
for cat in unimport_fea:
    X_internet = X_internet.drop(cat, axis=1)

In [6]:
unimport_fea = ['employer_type', 'industry', 'region', 'policy_code', 'pub_dero_bankrup', 'f1', 'del_in_18month', 'initial_list_status']
for cat in unimport_fea:
    X_traintest = X_traintest.drop(cat, axis=1)

### 特征工程

#### work_year, class

In [7]:
work_year_dict = {
    '< 1 year': 0,
    '1 year': 1,
    '2 years': 2,
    '3 years': 3,
    '4 years': 4,
    '5 years': 5,
    '6 years': 6,
    '7 years': 7,
    '8 years': 8,
    '9 years': 9,
    '10+ years': 10,
}


X_traintest['num_work_year'] = X_traintest['work_year'].map(work_year_dict)
X_internet['num_work_year'] = X_internet['work_year'].map(work_year_dict)

In [8]:
class_dict = {
    'A': 1,
    'B': 2,
    'C': 3,
    'D': 4,
    'E': 5,
    'F': 6,
    'G': 7,
}


X_traintest['num_class'] = X_traintest['class'].map(class_dict)
X_internet['num_class'] = X_internet['class'].map(class_dict)

#### issue_date, earlies_credit_mon

In [9]:
X_traintest['issue_date'] = pd.to_datetime(X_traintest['issue_date'])
X_internet['issue_date'] = pd.to_datetime(X_internet['issue_date'])

X_traintest['issue_date_delta'] = (X_traintest['issue_date'] - X_traintest['issue_date'].min())  / np.timedelta64(1,'D')
X_internet['issue_date_delta'] = (X_internet['issue_date'] - X_internet['issue_date'].min())  / np.timedelta64(1,'D')

In [10]:
X_traintest['earlies_credit_mon'] = pd.to_datetime(X_traintest['earlies_credit_mon'])
X_internet['earlies_credit_mon'] = pd.to_datetime(X_internet['earlies_credit_mon'])

X_traintest['earlies_credit_mon_delta'] = (X_traintest['earlies_credit_mon'] - X_traintest['earlies_credit_mon'].min())  / np.timedelta64(1,'D')
X_internet['earlies_credit_mon_delta'] = (X_internet['earlies_credit_mon'] - X_internet['earlies_credit_mon'].min())  / np.timedelta64(1,'D')

In [11]:
X_traintest['issue_earlies_diff'] = (X_traintest['issue_date'] - X_traintest['earlies_credit_mon'])  / np.timedelta64(1,'D')
X_internet['issue_earlies_diff'] = (X_internet['issue_date'] - X_internet['earlies_credit_mon'])  / np.timedelta64(1,'D')

In [12]:
col_to_drop = ['issue_date', 'earlies_credit_mon']
X_traintest = X_traintest.drop(col_to_drop, axis=1)
X_internet = X_internet.drop(col_to_drop, axis=1)

#### employer_type, industry

#### 交叉特征

In [13]:
X_traintest['pro'] = X_traintest['interest'].mul(X_traintest['year_of_loan'])
X_traintest['loan_year'] = X_traintest['total_loan']/X_traintest['year_of_loan']
X_traintest['early_ratio'] = X_traintest['early_return_amount']/X_traintest['total_loan']
X_traintest['early_times_ratio'] = X_traintest['early_return']/X_traintest['year_of_loan']
X_traintest['recircle_ratio'] = X_traintest['recircle_b']/X_traintest['total_loan']
X_traintest['recircle_amt'] = X_traintest['recircle_b'].mul(X_traintest['total_loan'])

In [14]:
X_internet['pro'] = X_internet['interest'].mul(X_internet['year_of_loan'])
X_internet['loan_year'] = X_internet['total_loan']/X_internet['year_of_loan']
X_internet['early_ratio'] = X_internet['early_return_amount']/X_internet['total_loan']
X_internet['early_times_ratio'] = X_internet['early_return']/X_internet['year_of_loan']
X_internet['recircle_ratio'] = X_internet['recircle_b']/X_internet['total_loan']
X_internet['recircle_amt'] = X_internet['recircle_b'].mul(X_internet['total_loan'])

In [15]:
numerical_fea = list(X_traintest.select_dtypes(exclude=['object']).columns) 
category_fea = list(filter(lambda x: x not in numerical_fea,list(X_traintest.columns)))
# print("numerical_fea:",numerical_fea)
# print("category_fea:",category_fea)

### 模型

In [16]:
from sklearn.model_selection import StratifiedKFold, KFold
from sklearn.metrics import roc_auc_score
import lightgbm as lgb
import catboost

In [17]:
all_fea = X_traintest.columns

In [18]:
X_train = X_traintest[X_traintest.is_train == 1][all_fea]
y_train = train_data['isDefault']

X_test = X_traintest[X_traintest.is_train == 0][all_fea]

In [19]:
X_train[category_fea] = X_train[category_fea].astype(str)
X_test[category_fea] = X_test[category_fea].astype(str)

X_train[numerical_fea] = X_train[numerical_fea].astype(float)
X_test[numerical_fea] = X_test[numerical_fea].astype(float)

In [20]:
model = catboost.CatBoostClassifier(cat_features = category_fea, random_state = 2080)
model.fit(X_train, y_train, verbose=400)

Learning rate set to 0.027538
0:	learn: 0.6614725	total: 192ms	remaining: 3m 11s
400:	learn: 0.2446015	total: 13.6s	remaining: 20.3s
800:	learn: 0.1977477	total: 27.1s	remaining: 6.73s
999:	learn: 0.1783108	total: 33.9s	remaining: 0us

In [21]:
y_pred = model.predict_proba(X_test)

### 模型改进

In [22]:
feature_importances = model.get_feature_importance(prettified=True,
                                                   thread_count=-1,
                                                   verbose=False)

In [23]:
tr_cols = set(X_traintest.columns)
same_col = list(tr_cols.intersection(set(X_internet.columns)))

tr_cols.difference(set(same_col))

{'app_type', 'is_train', 'known_dero', 'known_outstanding_loan'}

In [24]:
for i in range(feature_importances['Feature Id'].size):
    if (feature_importances['Feature Id'][i] in same_col):
        if feature_importances['Importances'][i]>1:
            X_traintest[feature_importances['Feature Id'][i]+'_cnt'] = category_encoders.count.CountEncoder().fit_transform(X_traintest[feature_importances['Feature Id'][i]])
            X_internet[feature_importances['Feature Id'][i]+'_cnt'] = category_encoders.count.CountEncoder().fit_transform(X_internet[feature_importances['Feature Id'][i]])

In [25]:
all_fea = X_traintest.columns
X_train = X_traintest[X_traintest.is_train == 1][all_fea]
X_train = pd.concat([X_train, train_data['isDefault']], axis=1)
y_train = train_data['isDefault']

X_test = X_traintest[X_traintest.is_train == 0][all_fea]

X_train = X_train.drop('is_train', axis=1)
X_test = X_test.drop('is_train', axis=1)

In [26]:
tr_cols = set(X_train.columns)
same_col = list(tr_cols.intersection(set(X_internet.columns)))
train_inteSame = X_internet[same_col].copy()

Inte_add_cos = list(tr_cols.difference(set(same_col)))
for col in Inte_add_cos:
    train_inteSame[col] = np.nan

In [31]:
numerical_fea = list(X_train.select_dtypes(exclude=['object']).columns) 
category_fea = list(filter(lambda x: x not in numerical_fea,list(X_train.columns)))


X_train[category_fea] = X_train[category_fea].astype(str)
train_inteSame[category_fea] = train_inteSame[category_fea].astype(str)

X_train[numerical_fea] = X_train[numerical_fea].astype(float)
train_inteSame[numerical_fea] = train_inteSame[numerical_fea].astype(float)

# Catboost

In [37]:
def train_model(data_, test_, y_, folds_):
    oof_preds = np.zeros(data_.shape[0])
    sub_preds = np.zeros(test_.shape[0])
    feature_importance_df = pd.DataFrame()
    feats = [f for f in data_.columns if f not in ['loan_id', 'user_id', 'isDefault'] ]
    for n_fold, (trn_idx, val_idx) in enumerate(folds_.split(data_)):
        trn_x, trn_y = data_[feats].iloc[trn_idx], y_.iloc[trn_idx]
        val_x, val_y = data_[feats].iloc[val_idx], y_.iloc[val_idx]
        clf = catboost.CatBoostClassifier(cat_features = category_fea, random_state = 2080)
        
        clf.fit(trn_x, trn_y, 
                eval_set= [(trn_x, trn_y), (val_x, val_y)], 
                verbose=400 #30
               )

        oof_preds[val_idx] = clf.predict_proba(val_x)[:, 1]
        sub_preds += clf.predict_proba(test_[feats])[:, 1] / folds_.n_splits
        
        fold_importance_df = pd.DataFrame()
        fold_importance_df["feature"] = feats
        fold_importance_df["importance"] = clf.feature_importances_
        fold_importance_df["fold"] = n_fold + 1
        feature_importance_df = pd.concat([feature_importance_df, fold_importance_df], axis=0)
        
        print('Fold %2d AUC : %.6f' % (n_fold + 1, roc_auc_score(val_y, oof_preds[val_idx])))
        del clf, trn_x, trn_y, val_x, val_y
        gc.collect()
        
    print('Full AUC score %.6f' % roc_auc_score(y_, oof_preds)) 
    
    test_['isDefault'] = sub_preds

    return oof_preds, test_[['loan_id', 'isDefault']], feature_importance_df

In [38]:
folds = KFold(n_splits=5, shuffle=True, random_state=546789)
oof_preds, IntePre, importances = train_model(X_train, train_inteSame, y_train, folds)

Custom logger is already specified. Specify more than one logger at same time is not thread safe.

Learning rate set to 0.052963
0:	learn: 0.6338357	test: 0.6338357	test1: 0.6327587	best: 0.6327587 (0)	total: 27.3ms	remaining: 27.3s
400:	learn: 0.1865638	test: 0.1887474	test1: 0.2963911	best: 0.2924656 (108)	total: 12.9s	remaining: 19.3s
800:	learn: 0.1186606	test: 0.1213455	test1: 0.3102930	best: 0.2924656 (108)	total: 25.9s	remaining: 6.45s
999:	learn: 0.0956707	test: 0.0985308	test1: 0.3164038	best: 0.2924656 (108)	total: 32.4s	remaining: 0us

bestTest = 0.2924655828
bestIteration = 108

Shrink model to first 109 iterations.
Fold  1 AUC : 0.890302
Learning rate set to 0.052963
0:	learn: 0.6331101	test: 0.6331101	test1: 0.6321068	best: 0.6321068 (0)	total: 38.3ms	remaining: 38.3s
400:	learn: 0.1925919	test: 0.1951459	test1: 0.2898737	best: 0.2856457 (166)	total: 12.9s	remaining: 19.2s
800:	learn: 0.1218478	test: 0.1247251	test1: 0.2987193	best: 0.2856457 (166)	total: 26s	remaining: 6.46s
999:	learn: 0.1000282	test: 0.1031084	test1: 0.3044819	best: 0.2856457 (166)	total: 32.6s	remaining: 0us

bestTest = 0.2856456671
bestIteration = 166

Shrink model to first 167 iterations.
Fold  2 AUC : 0.891843
Learning rate set to 0.052963
0:	learn: 0.6338613	test: 0.6338613	test1: 0.6355596	best: 0.6355596 (0)	total: 32.2ms	remaining: 32.2s
400:	learn: 0.1806384	test: 0.1824466	test1: 0.3144410	best: 0.3113906 (182)	total: 12.9s	remaining: 19.3s
800:	learn: 0.1137981	test: 0.1159735	test1: 0.3284254	best: 0.3113906 (182)	total: 25.7s	remaining: 6.38s
999:	learn: 0.0911882	test: 0.0933754	test1: 0.3360908	best: 0.3113906 (182)	total: 32.1s	remaining: 0us

bestTest = 0.311390648
bestIteration = 182

Shrink model to first 183 iterations.
Fold  3 AUC : 0.874790
Learning rate set to 0.052963
0:	learn: 0.6314824	test: 0.6314824	test1: 0.6336693	best: 0.6336693 (0)	total: 30.7ms	remaining: 30.6s
400:	learn: 0.1845707	test: 0.1866298	test1: 0.3224343	best: 0.3163860 (125)	total: 12.5s	remaining: 18.7s
800:	learn: 0.1204596	test: 0.1231573	test1: 0.3346083	best: 0.3163860 (125)	total: 25.3s	remaining: 6.29s
999:	learn: 0.0991590	test: 0.1019085	test1: 0.3407675	best: 0.3163860 (125)	total: 31.5s	remaining: 0us

bestTest = 0.3163859643
bestIteration = 125

Shrink model to first 126 iterations.
Fold  4 AUC : 0.869701
Learning rate set to 0.052963
0:	learn: 0.6323690	test: 0.6323690	test1: 0.6320036	best: 0.6320036 (0)	total: 31.8ms	remaining: 31.8s
400:	learn: 0.1916075	test: 0.1953341	test1: 0.3056650	best: 0.2993133 (125)	total: 12.4s	remaining: 18.6s
800:	learn: 0.1233799	test: 0.1275117	test1: 0.3196492	best: 0.2993133 (125)	total: 25.3s	remaining: 6.28s
999:	learn: 0.1023220	test: 0.1066471	test1: 0.3268851	best: 0.2993133 (125)	total: 31.6s	remaining: 0us

bestTest = 0.2993132986
bestIteration = 125

Shrink model to first 126 iterations.
Fold  5 AUC : 0.880030
Full AUC score 0.880734

In [39]:
IntePre['isDef'] = train_internet['is_default']
from sklearn.metrics import roc_auc_score
roc_auc_score(IntePre['isDef'],IntePre.isDefault)

E:\anaconda3\envs\pytorch\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0.7360700788370926

In [40]:
InteId = IntePre.loc[IntePre.isDefault<0.02, 'loan_id'].tolist()

X_train['dataSourse'] = 1
X_test['dataSourse'] = 1
train_inteSame['dataSourse'] = 0
train_inteSame['isDefault'] = X_internet['is_default']
use_te = train_inteSame[train_inteSame.loan_id.isin( InteId )].copy()
data = pd.concat([ X_train,X_test,use_te]).reset_index(drop=True)

In [43]:
data[category_fea] = data[category_fea].astype(str)

data[numerical_fea] = data[numerical_fea].astype(float)

In [44]:
train = data[data['isDefault'].notna()]
test  = data[data['isDefault'].isna()]




y = train['isDefault']
folds = KFold(n_splits=5, shuffle=True, random_state=546789)
oof_preds, test_preds, importances = train_model(train, test, y, folds)

Learning rate set to 0.079919
0:	learn: 0.4506042	test: 0.4506042	test1: 0.4523849	best: 0.4523849 (0)	total: 48.6ms	remaining: 48.6s
400:	learn: 0.0282142	test: 0.0282898	test1: 0.0624382	best: 0.0606249 (156)	total: 19.5s	remaining: 29.1s
800:	learn: 0.0162371	test: 0.0163152	test1: 0.0663947	best: 0.0606249 (156)	total: 39.5s	remaining: 9.81s
999:	learn: 0.0128734	test: 0.0129861	test1: 0.0684654	best: 0.0606249 (156)	total: 49.1s	remaining: 0us

bestTest = 0.06062494006
bestIteration = 156

Shrink model to first 157 iterations.
Fold  1 AUC : 0.980475
Learning rate set to 0.079919
0:	learn: 0.4508676	test: 0.4508676	test1: 0.4490791	best: 0.4490791 (0)	total: 53.9ms	remaining: 53.9s
400:	learn: 0.0301825	test: 0.0302788	test1: 0.0546603	best: 0.0516891 (94)	total: 19.1s	remaining: 28.5s
800:	learn: 0.0172624	test: 0.0173851	test1: 0.0588260	best: 0.0516891 (94)	total: 38.2s	remaining: 9.48s
999:	learn: 0.0135572	test: 0.0136743	test1: 0.0604848	best: 0.0516891 (94)	total: 47.7s	remaining: 0us

bestTest = 0.05168906214
bestIteration = 94

Shrink model to first 95 iterations.
Fold  2 AUC : 0.982873
Learning rate set to 0.079919
0:	learn: 0.4504215	test: 0.4504215	test1: 0.4499546	best: 0.4499546 (0)	total: 46.7ms	remaining: 46.7s
400:	learn: 0.0291168	test: 0.0291977	test1: 0.0554968	best: 0.0535071 (162)	total: 19.5s	remaining: 29.1s
800:	learn: 0.0162772	test: 0.0164402	test1: 0.0590686	best: 0.0535071 (162)	total: 38.4s	remaining: 9.53s
999:	learn: 0.0125545	test: 0.0127010	test1: 0.0607628	best: 0.0535071 (162)	total: 47.8s	remaining: 0us

bestTest = 0.05350714946
bestIteration = 162

Shrink model to first 163 iterations.
Fold  3 AUC : 0.982789
Learning rate set to 0.07992
0:	learn: 0.4600069	test: 0.4600069	test1: 0.4593783	best: 0.4593783 (0)	total: 58.4ms	remaining: 58.4s
400:	learn: 0.0294321	test: 0.0295358	test1: 0.0584770	best: 0.0555971 (76)	total: 19.1s	remaining: 28.6s
800:	learn: 0.0169832	test: 0.0171175	test1: 0.0620121	best: 0.0555971 (76)	total: 38s	remaining: 9.44s
999:	learn: 0.0132833	test: 0.0134163	test1: 0.0640968	best: 0.0555971 (76)	total: 47.4s	remaining: 0us

bestTest = 0.05559713336
bestIteration = 76

Shrink model to first 77 iterations.
Fold  4 AUC : 0.979129
Learning rate set to 0.07992
0:	learn: 0.4593773	test: 0.4593773	test1: 0.4590612	best: 0.4590612 (0)	total: 53.8ms	remaining: 53.7s
400:	learn: 0.0275733	test: 0.0276008	test1: 0.0651829	best: 0.0614231 (95)	total: 19.2s	remaining: 28.6s
800:	learn: 0.0159129	test: 0.0160384	test1: 0.0714546	best: 0.0614231 (95)	total: 38.6s	remaining: 9.59s
999:	learn: 0.0122014	test: 0.0123325	test1: 0.0745757	best: 0.0614231 (95)	total: 48.2s	remaining: 0us

bestTest = 0.0614231378
bestIteration = 95

Shrink model to first 96 iterations.
Fold  5 AUC : 0.981231
Full AUC score 0.981053

E:\anaconda3\envs\pytorch\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [45]:
test_preds.rename({'loan_id': 'id'}, axis=1)[['id', 'isDefault']].to_csv('./submit/test_newcb.csv', index=False)

In [46]:
test_preds

         loan_id  isDefault
10000  1000575.0   0.010308
10001  1028125.0   0.050407
10002  1010694.0   0.002965
10003  1026712.0   0.003053
10004  1002895.0   0.012306
...          ...        ...
14995  1008856.0   0.394115
14996  1016651.0   0.010804
14997  1024140.0   0.003538
14998  1014316.0   0.008202
14999  1012946.0   0.003208

[5000 rows x 2 columns]